$main: #ff385c;
$warning: #d93900;
$black: #222222;
$darkGray: #717171;
$gray: #b0b0b0;
$lightGray: #f7f7f7;
$shadow: #e3e3e3;
$white: #ffffff;
$deepGreen: #01797e;
$green: #008489;
$darkRed: #c03515;
